@{
    ViewData["Title"] = "About";
}
<h2>Sobre</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Startup desenvolvida para resolver os problemas de comunicação existentes hoje em todos shoppings, <br />
    do Brasil, trazendo inovação e facilidade para navegar dentre os catálogos de produtos e saber novidades.
</p>
